.logo>img{
    width: 78px;
    height: 50px;
}
.logo{
    padding-left:0;
    padding-top:0;
}
.login span{
    font-size:20px;
    color:#0f0;
    padding:0 10px;
}

.banner .carousel{
    height:450px;
    position: relative;
    overflow: hidden;
}
.banner .carousel ul li{
    width: 1200px;
    height:450px;
    float:left;
}
.banner .carousel ul li a img{
    width: 100%;
    height:450px;
}
.banner .carousel ul{
    position:absolute;
    left: 0;
    top: 0;
}
.banner .carousel>a{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.7);
    height:40px;
    width:20px;
    text-align:center;
    line-height:40px;
}
.banner .carousel>a.leftBtn{
    left: 0;
}
.banner .carousel>a.rightBtn{
    right: 0;
}
.banner .carousel ol:hover{
    cursor: pointer;
}
.banner .carousel ol{
    height: 20px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,.7);
    border-radius:10px;
    bottom:10px;
}
.banner .carousel ol li{
    width: 10px;
    height: 10px;
    background-color: #666;
    float:left;
    margin:5px;
    border-radius:50%;
}
.banner .carousel ol li.active{
    background-color: #f00;
}

.footer{
    position:static;
}

.beijing img,.anhui img{
    width: 100%;
    height: 150px;
}
.beijing p.introduce,.anhui p.introduce{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}